openapi: 3.0.3
info:
  title: One Recycle API
  description: |
    一站式回收平台API文档
    
    ## 功能模块
    - 用户认证与管理
    - 订单管理
    - 调度管理
    - 快递员管理
    - 通知管理
    - 支付管理
    - 库存管理
    - 分类管理
    
    ## 认证方式
    API使用JWT Bearer Token进行认证。在请求头中添加：
    ```
    Authorization: Bearer <your-token>
    ```
    
    ## 错误处理
    API使用标准HTTP状态码，错误响应格式统一为：
    ```json
    {
      "success": false,
      "error": {
        "code": "ERROR_CODE",
        "message": "错误描述",
        "details": {}
      }
    }
    ```
    
    ## 分页
    列表接口支持分页，请求参数：
    - `page`: 页码（从1开始）
    - `limit`: 每页数量（默认10，最大100）
    
    响应格式：
    ```json
    {
      "success": true,
      "data": [],
      "meta": {
        "pagination": {
          "page": 1,
          "limit": 10,
          "total": 100,
          "totalPages": 10
        }
      }
    }
    ```
  version: 1.0.0
  contact:
    name: One Recycle API Support
    email: api@onerecycle.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.onerecycle.com/v1
    description: 生产环境
  - url: https://api-staging.onerecycle.com/v1
    description: 测试环境
  - url: http://localhost:3000/v1
    description: 本地开发环境

tags:
  - name: auth
    description: 用户认证
  - name: users
    description: 用户管理
  - name: orders
    description: 订单管理
  - name: dispatch
    description: 调度管理
  - name: couriers
    description: 快递员管理
  - name: notifications
    description: 通知管理
  - name: payments
    description: 支付管理
  - name: inventory
    description: 库存管理
  - name: categories
    description: 分类管理

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    # 基础类型
    ID:
      type: string
      pattern: '^[0-9a-f]{24}$'
      example: '507f1f77bcf86cd799439011'
      description: MongoDB ObjectID

    Timestamp:
      type: string
      format: date-time
      example: '2024-01-01T00:00:00.000Z'

    Location:
      type: object
      required:
        - latitude
        - longitude
      properties:
        latitude:
          type: number
          format: double
          minimum: -90
          maximum: 90
          example: 39.9042
        longitude:
          type: number
          format: double
          minimum: -180
          maximum: 180
          example: 116.4074
        address:
          type: string
          example: '北京市朝阳区建国门外大街1号'

    Contact:
      type: object
      required:
        - name
        - phone
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 50
          example: '张三'
        phone:
          type: string
          pattern: '^1[3-9]\d{9}$'
          example: '13800138000'

    # 响应格式
    SuccessResponse:
      type: object
      required:
        - success
        - data
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
        meta:
          $ref: '#/components/schemas/ResponseMeta'

    ErrorResponse:
      type: object
      required:
        - success
        - error
      properties:
        success:
          type: boolean
          example: false
        error:
          $ref: '#/components/schemas/ErrorInfo'

    ErrorInfo:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          example: 'VALIDATION_ERROR'
        message:
          type: string
          example: '参数验证失败'
        details:
          type: object

    ResponseMeta:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/PaginationMeta'
        timestamp:
          $ref: '#/components/schemas/Timestamp'

    PaginationMeta:
      type: object
      required:
        - page
        - limit
        - total
        - totalPages
      properties:
        page:
          type: integer
          minimum: 1
          example: 1
        limit:
          type: integer
          minimum: 1
          maximum: 100
          example: 10
        total:
          type: integer
          minimum: 0
          example: 100
        totalPages:
          type: integer
          minimum: 0
          example: 10

    # 用户相关
    User:
      type: object
      required:
        - id
        - phone
        - nickname
        - status
        - createdAt
        - updatedAt
      properties:
        id:
          $ref: '#/components/schemas/ID'
        phone:
          type: string
          pattern: '^1[3-9]\d{9}$'
          example: '13800138000'
        nickname:
          type: string
          minLength: 1
          maxLength: 50
          example: '张三'
        avatar:
          type: string
          format: uri
          example: 'https://example.com/avatar.jpg'
        realName:
          type: string
          maxLength: 50
          example: '张三'
        idCard:
          type: string
          pattern: '^[1-9]\d{5}(18|19|20)\d{2}((0[1-9])|(1[0-2]))(([0-2][1-9])|10|20|30|31)\d{3}[0-9Xx]$'
          example: '110101199001011234'
        email:
          type: string
          format: email
          example: 'user@example.com'
        status:
          type: string
          enum: [active, inactive, suspended]
          example: 'active'
        createdAt:
          $ref: '#/components/schemas/Timestamp'
        updatedAt:
          $ref: '#/components/schemas/Timestamp'

    UserAddress:
      type: object
      required:
        - id
        - userId
        - contact
        - location
        - isDefault
        - createdAt
        - updatedAt
      properties:
        id:
          $ref: '#/components/schemas/ID'
        userId:
          $ref: '#/components/schemas/ID'
        contact:
          $ref: '#/components/schemas/Contact'
        location:
          $ref: '#/components/schemas/Location'
        isDefault:
          type: boolean
          example: true
        createdAt:
          $ref: '#/components/schemas/Timestamp'
        updatedAt:
          $ref: '#/components/schemas/Timestamp'

    # 订单相关
    Order:
      type: object
      required:
        - id
        - userId
        - orderNumber
        - type
        - status
        - items
        - pickupAddress
        - contact
        - scheduledTime
        - totalAmount
        - createdAt
        - updatedAt
      properties:
        id:
          $ref: '#/components/schemas/ID'
        userId:
          $ref: '#/components/schemas/ID'
        orderNumber:
          type: string
          pattern: '^ORD\d{14}$'
          example: 'ORD20240101000001'
        type:
          type: string
          enum: [pickup, delivery]
          example: 'pickup'
        status:
          type: string
          enum: [pending, confirmed, assigned, in_progress, completed, cancelled]
          example: 'pending'
        items:
          type: array
          items:
            $ref: '#/components/schemas/OrderItem'
        pickupAddress:
          $ref: '#/components/schemas/Location'
        contact:
          $ref: '#/components/schemas/Contact'
        scheduledTime:
          $ref: '#/components/schemas/Timestamp'
        actualTime:
          $ref: '#/components/schemas/Timestamp'
        totalAmount:
          type: number
          format: double
          minimum: 0
          example: 100.50
        notes:
          type: string
          maxLength: 500
          example: '请在工作时间上门'
        courierId:
          $ref: '#/components/schemas/ID'
        createdAt:
          $ref: '#/components/schemas/Timestamp'
        updatedAt:
          $ref: '#/components/schemas/Timestamp'

    OrderItem:
      type: object
      required:
        - categoryId
        - name
        - quantity
        - unit
        - unitPrice
        - totalPrice
      properties:
        categoryId:
          $ref: '#/components/schemas/ID'
        name:
          type: string
          minLength: 1
          maxLength: 100
          example: '废纸'
        quantity:
          type: number
          format: double
          minimum: 0
          example: 10.5
        unit:
          type: string
          enum: [kg, piece, box, bag]
          example: 'kg'
        unitPrice:
          type: number
          format: double
          minimum: 0
          example: 2.5
        totalPrice:
          type: number
          format: double
          minimum: 0
          example: 26.25
        description:
          type: string
          maxLength: 200
          example: '旧报纸杂志'

    # 快递员相关
    Courier:
      type: object
      required:
        - id
        - name
        - phone
        - status
        - location
        - createdAt
        - updatedAt
      properties:
        id:
          $ref: '#/components/schemas/ID'
        name:
          type: string
          minLength: 1
          maxLength: 50
          example: '李四'
        phone:
          type: string
          pattern: '^1[3-9]\d{9}$'
          example: '13900139000'
        idCard:
          type: string
          pattern: '^[1-9]\d{5}(18|19|20)\d{2}((0[1-9])|(1[0-2]))(([0-2][1-9])|10|20|30|31)\d{3}[0-9Xx]$'
          example: '110101199001011234'
        licensePlate:
          type: string
          pattern: '^[京津沪渝冀豫云辽黑湘皖鲁新苏浙赣鄂桂甘晋蒙陕吉闽贵粤青藏川宁琼使领A-Z]{1}[A-Z]{1}[A-Z0-9]{4}[A-Z0-9挂学警港澳]{1}$'
          example: '京A12345'
        status:
          type: string
          enum: [available, busy, offline]
          example: 'available'
        location:
          $ref: '#/components/schemas/Location'
        workingHours:
          type: object
          properties:
            start:
              type: string
              pattern: '^([01]\d|2[0-3]):([0-5]\d)$'
              example: '08:00'
            end:
              type: string
              pattern: '^([01]\d|2[0-3]):([0-5]\d)$'
              example: '18:00'
        createdAt:
          $ref: '#/components/schemas/Timestamp'
        updatedAt:
          $ref: '#/components/schemas/Timestamp'

    # 分类相关
    Category:
      type: object
      required:
        - id
        - name
        - type
        - status
        - createdAt
        - updatedAt
      properties:
        id:
          $ref: '#/components/schemas/ID'
        name:
          type: string
          minLength: 1
          maxLength: 50
          example: '废纸'
        type:
          type: string
          enum: [recyclable, hazardous, electronic, other]
          example: 'recyclable'
        parentId:
          $ref: '#/components/schemas/ID'
        description:
          type: string
          maxLength: 200
          example: '包括报纸、杂志、纸箱等'
        icon:
          type: string
          format: uri
          example: 'https://example.com/icons/paper.svg'
        unit:
          type: string
          enum: [kg, piece, box, bag]
          example: 'kg'
        basePrice:
          type: number
          format: double
          minimum: 0
          example: 2.5
        status:
          type: string
          enum: [active, inactive]
          example: 'active'
        sortOrder:
          type: integer
          minimum: 0
          example: 1
        createdAt:
          $ref: '#/components/schemas/Timestamp'
        updatedAt:
          $ref: '#/components/schemas/Timestamp'

    # 通知相关
    Notification:
      type: object
      required:
        - id
        - userId
        - type
        - title
        - content
        - status
        - createdAt
        - updatedAt
      properties:
        id:
          $ref: '#/components/schemas/ID'
        userId:
          $ref: '#/components/schemas/ID'
        type:
          type: string
          enum: [system, order, payment, promotion]
          example: 'order'
        title:
          type: string
          minLength: 1
          maxLength: 100
          example: '订单状态更新'
        content:
          type: string
          minLength: 1
          maxLength: 500
          example: '您的订单已被快递员接单'
        status:
          type: string
          enum: [unread, read]
          example: 'unread'
        relatedId:
          $ref: '#/components/schemas/ID'
        createdAt:
          $ref: '#/components/schemas/Timestamp'
        updatedAt:
          $ref: '#/components/schemas/Timestamp'

    # 支付相关
    Payment:
      type: object
      required:
        - id
        - orderId
        - userId
        - amount
        - method
        - status
        - createdAt
        - updatedAt
      properties:
        id:
          $ref: '#/components/schemas/ID'
        orderId:
          $ref: '#/components/schemas/ID'
        userId:
          $ref: '#/components/schemas/ID'
        paymentNumber:
          type: string
          pattern: '^PAY\d{14}$'
          example: 'PAY20240101000001'
        amount:
          type: number
          format: double
          minimum: 0
          example: 100.50
        method:
          type: string
          enum: [wechat, alipay, bank_card, cash]
          example: 'wechat'
        status:
          type: string
          enum: [pending, paid, failed, refunded, cancelled]
          example: 'pending'
        thirdPartyTransactionId:
          type: string
          example: '4200001234567890123456789'
        paidAt:
          $ref: '#/components/schemas/Timestamp'
        createdAt:
          $ref: '#/components/schemas/Timestamp'
        updatedAt:
          $ref: '#/components/schemas/Timestamp'

  parameters:
    PageParam:
      name: page
      in: query
      description: 页码（从1开始）
      required: false
      schema:
        type: integer
        minimum: 1
        default: 1

    LimitParam:
      name: limit
      in: query
      description: 每页数量
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 10

    SortParam:
      name: sort
      in: query
      description: 排序字段
      required: false
      schema:
        type: string
        example: 'createdAt'

    OrderParam:
      name: order
      in: query
      description: 排序方向
      required: false
      schema:
        type: string
        enum: [asc, desc]
        default: desc

    SearchParam:
      name: search
      in: query
      description: 搜索关键词
      required: false
      schema:
        type: string
        maxLength: 100

  responses:
    BadRequest:
      description: 请求参数错误
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error:
              code: 'VALIDATION_ERROR'
              message: '参数验证失败'
              details:
                field: 'phone'
                message: '手机号格式不正确'

    Unauthorized:
      description: 未授权
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error:
              code: 'UNAUTHORIZED'
              message: '未授权访问'

    Forbidden:
      description: 禁止访问
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error:
              code: 'FORBIDDEN'
              message: '权限不足'

    NotFound:
      description: 资源不存在
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error:
              code: 'NOT_FOUND'
              message: '资源不存在'

    Conflict:
      description: 资源冲突
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error:
              code: 'RESOURCE_CONFLICT'
              message: '资源已存在'

    InternalServerError:
      description: 服务器内部错误
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error:
              code: 'INTERNAL_ERROR'
              message: '服务器内部错误'

paths:
  # 健康检查
  /health:
    get:
      tags:
        - system
      summary: 健康检查
      description: 检查API服务状态
      security: []
      responses:
        '200':
          description: 服务正常
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: 'ok'
                  timestamp:
                    $ref: '#/components/schemas/Timestamp'
                  version:
                    type: string
                    example: '1.0.0'

  # 认证相关
  /auth/login:
    post:
      tags:
        - auth
      summary: 用户登录
      description: 使用手机号和验证码登录
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - phone
                - code
              properties:
                phone:
                  type: string
                  pattern: '^1[3-9]\d{9}$'
                  example: '13800138000'
                code:
                  type: string
                  pattern: '^\d{6}$'
                  example: '123456'
      responses:
        '200':
          description: 登录成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          user:
                            $ref: '#/components/schemas/User'
                          token:
                            type: string
                            example: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...'
                          refreshToken:
                            type: string
                            example: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /couriers/{id}/orders:
    get:
      tags:
        - couriers
      summary: 获取快递员订单列表
      description: 获取指定快递员的订单列表
      parameters:
        - name: id
          in: path
          required: true
          description: 快递员ID
          schema:
            $ref: '#/components/schemas/ID'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: status
          in: query
          description: 订单状态筛选
          schema:
            type: string
            enum: [assigned, in_progress, completed]
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Order'
                      meta:
                        type: object
                        properties:
                          pagination:
                            $ref: '#/components/schemas/PaginationMeta'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # 通知相关
  /notifications:
    get:
      tags:
        - notifications
      summary: 获取通知列表
      description: 获取当前用户的通知列表
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: type
          in: query
          description: 通知类型筛选
          schema:
            type: string
            enum: [system, order, payment, promotion]
        - name: status
          in: query
          description: 通知状态筛选
          schema:
            type: string
            enum: [unread, read]
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Notification'
                      meta:
                        type: object
                        properties:
                          pagination:
                            $ref: '#/components/schemas/PaginationMeta'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags:
        - notifications
      summary: 发送通知
      description: 发送通知给指定用户（管理员权限）
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - userId
                - type
                - title
                - content
              properties:
                userId:
                  $ref: '#/components/schemas/ID'
                type:
                  type: string
                  enum: [system, order, payment, promotion]
                  example: 'system'
                title:
                  type: string
                  minLength: 1
                  maxLength: 100
                  example: '系统通知'
                content:
                  type: string
                  minLength: 1
                  maxLength: 500
                  example: '系统将于今晚进行维护'
                relatedId:
                  $ref: '#/components/schemas/ID'
      responses:
        '201':
          description: 发送成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Notification'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /notifications/{id}:
    get:
      tags:
        - notifications
      summary: 获取通知详情
      description: 获取指定通知的详细信息
      parameters:
        - name: id
          in: path
          required: true
          description: 通知ID
          schema:
            $ref: '#/components/schemas/ID'
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Notification'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /notifications/{id}/read:
    put:
      tags:
        - notifications
      summary: 标记通知为已读
      description: 将指定通知标记为已读状态
      parameters:
        - name: id
          in: path
          required: true
          description: 通知ID
          schema:
            $ref: '#/components/schemas/ID'
      responses:
        '200':
          description: 标记成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Notification'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /notifications/read-all:
    put:
      tags:
        - notifications
      summary: 标记所有通知为已读
      description: 将当前用户的所有未读通知标记为已读
      responses:
        '200':
          description: 标记成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          message:
                            type: string
                            example: '所有通知已标记为已读'
                          count:
                            type: integer
                            example: 5
        '401':
          $ref: '#/components/responses/Unauthorized'

  # 支付相关
  /payments:
    get:
      tags:
        - payments
      summary: 获取支付记录列表
      description: 分页获取支付记录列表
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: status
          in: query
          description: 支付状态筛选
          schema:
            type: string
            enum: [pending, paid, failed, refunded, cancelled]
        - name: method
          in: query
          description: 支付方式筛选
          schema:
            type: string
            enum: [wechat, alipay, bank_card, cash]
        - name: orderId
          in: query
          description: 订单ID筛选
          schema:
            $ref: '#/components/schemas/ID'
        - name: startDate
          in: query
          description: 开始日期
          schema:
            type: string
            format: date
            example: '2024-01-01'
        - name: endDate
          in: query
          description: 结束日期
          schema:
            type: string
            format: date
            example: '2024-01-31'
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Payment'
                      meta:
                        type: object
                        properties:
                          pagination:
                            $ref: '#/components/schemas/PaginationMeta'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags:
        - payments
      summary: 创建支付订单
      description: 为指定订单创建支付订单
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - orderId
                - method
              properties:
                orderId:
                  $ref: '#/components/schemas/ID'
                method:
                  type: string
                  enum: [wechat, alipay, bank_card]
                  example: 'wechat'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        allOf:
                          - $ref: '#/components/schemas/Payment'
                          - type: object
                            properties:
                              paymentUrl:
                                type: string
                                format: uri
                                example: 'https://pay.example.com/qr/123456'
                              qrCode:
                                type: string
                                example: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /payments/{id}:
    get:
      tags:
        - payments
      summary: 获取支付详情
      description: 获取指定支付记录的详细信息
      parameters:
        - name: id
          in: path
          required: true
          description: 支付ID
          schema:
            $ref: '#/components/schemas/ID'
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Payment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /payments/{id}/confirm:
    post:
      tags:
        - payments
      summary: 确认支付
      description: 确认支付完成（管理员权限或第三方回调）
      parameters:
        - name: id
          in: path
          required: true
          description: 支付ID
          schema:
            $ref: '#/components/schemas/ID'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                thirdPartyTransactionId:
                  type: string
                  example: '4200001234567890123456789'
      responses:
        '200':
          description: 确认成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Payment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /payments/webhook:
    post:
      tags:
        - payments
      summary: 支付回调
      description: 接收第三方支付平台的回调通知
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: 第三方支付平台的回调数据
      responses:
        '200':
          description: 处理成功
          content:
            text/plain:
              schema:
                type: string
                example: 'SUCCESS'
        '400':
          description: 处理失败
          content:
            text/plain:
              schema:
                type: string
                example: 'FAIL'

  # 统计相关
  /stats/overview:
    get:
      tags:
        - stats
      summary: 获取概览统计
      description: 获取平台概览统计数据（管理员权限）
      parameters:
        - name: period
          in: query
          description: 统计周期
          schema:
            type: string
            enum: [today, week, month, year]
            default: today
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          orders:
                            type: object
                            properties:
                              total:
                                type: integer
                                example: 1000
                              pending:
                                type: integer
                                example: 50
                              completed:
                                type: integer
                                example: 800
                              cancelled:
                                type: integer
                                example: 150
                          users:
                            type: object
                            properties:
                              total:
                                type: integer
                                example: 5000
                              active:
                                type: integer
                                example: 4500
                              new:
                                type: integer
                                example: 100
                          couriers:
                            type: object
                            properties:
                              total:
                                type: integer
                                example: 200
                              available:
                                type: integer
                                example: 150
                              busy:
                                type: integer
                                example: 40
                              offline:
                                type: integer
                                example: 10
                          revenue:
                            type: object
                            properties:
                              total:
                                type: number
                                format: double
                                example: 50000.00
                              today:
                                type: number
                                format: double
                                example: 2000.00
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /stats/orders:
    get:
      tags:
        - stats
      summary: 获取订单统计
      description: 获取订单相关统计数据
      parameters:
        - name: startDate
          in: query
          description: 开始日期
          schema:
            type: string
            format: date
            example: '2024-01-01'
        - name: endDate
          in: query
          description: 结束日期
          schema:
            type: string
            format: date
            example: '2024-01-31'
        - name: groupBy
          in: query
          description: 分组方式
          schema:
            type: string
            enum: [day, week, month]
            default: day
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            date:
                              type: string
                              format: date
                              example: '2024-01-01'
                            count:
                              type: integer
                              example: 50
                            amount:
                              type: number
                              format: double
                              example: 2500.00
        '401':
          $ref: '#/components/responses/Unauthorized'

  # 文件上传
  /upload:
    post:
      tags:
        - files
      summary: 上传文件
      description: 上传图片或其他文件
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: 要上传的文件
                type:
                  type: string
                  enum: [avatar, category_icon, other]
                  default: other
                  description: 文件类型
      responses:
        '200':
          description: 上传成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          url:
                            type: string
                            format: uri
                            example: 'https://example.com/uploads/avatar.jpg'
                          filename:
                            type: string
                            example: 'avatar.jpg'
                          size:
                            type: integer
                            example: 1024000
                          mimeType:
                            type: string
                            example: 'image/jpeg'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '413':
          description: 文件过大
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'Unauthorized'

  /auth/send-code:
    post:
      tags:
        - auth
      summary: 发送验证码
      description: 向指定手机号发送验证码
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - phone
                - type
              properties:
                phone:
                  type: string
                  pattern: '^1[3-9]\d{9}$'
                  example: '13800138000'
                type:
                  type: string
                  enum: [login, register, reset_password]
                  example: 'login'
      responses:
        '200':
          description: 验证码发送成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          message:
                            type: string
                            example: '验证码已发送'
                          expireAt:
                            $ref: '#/components/schemas/Timestamp'
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          description: 请求过于频繁
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/refresh:
    post:
      tags:
        - auth
      summary: 刷新令牌
      description: 使用刷新令牌获取新的访问令牌
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - refreshToken
              properties:
                refreshToken:
                  type: string
                  example: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...'
      responses:
        '200':
          description: 令牌刷新成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          token:
                            type: string
                            example: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...'
                          refreshToken:
                            type: string
                            example: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/logout:
    post:
      tags:
        - auth
      summary: 用户登出
      description: 登出当前用户，使令牌失效
      responses:
        '200':
          description: 登出成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          message:
                            type: string
                            example: '登出成功'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # 用户相关
  /users:
    get:
      tags:
        - users
      summary: 获取用户列表
      description: 分页获取用户列表（管理员权限）
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/SearchParam'
        - name: status
          in: query
          description: 用户状态筛选
          schema:
            type: string
            enum: [active, inactive, suspended]
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/User'
                      meta:
                        type: object
                        properties:
                          pagination:
                            $ref: '#/components/schemas/PaginationMeta'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

    post:
      tags:
        - users
      summary: 创建用户
      description: 创建新用户（管理员权限）
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - phone
                - nickname
              properties:
                phone:
                  type: string
                  pattern: '^1[3-9]\d{9}$'
                  example: '13800138000'
                nickname:
                  type: string
                  minLength: 1
                  maxLength: 50
                  example: '张三'
                realName:
                  type: string
                  maxLength: 50
                  example: '张三'
                email:
                  type: string
                  format: email
                  example: 'user@example.com'
                idCard:
                  type: string
                  pattern: '^[1-9]\d{5}(18|19|20)\d{2}((0[1-9])|(1[0-2]))(([0-2][1-9])|10|20|30|31)\d{3}[0-9Xx]$'
                  example: '110101199001011234'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'

  /users/{id}:
    get:
      tags:
        - users
      summary: 获取用户详情
      description: 获取指定用户的详细信息
      parameters:
        - name: id
          in: path
          required: true
          description: 用户ID
          schema:
            $ref: '#/components/schemas/ID'
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags:
        - users
      summary: 更新用户信息
      description: 更新指定用户的信息
      parameters:
        - name: id
          in: path
          required: true
          description: 用户ID
          schema:
            $ref: '#/components/schemas/ID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nickname:
                  type: string
                  minLength: 1
                  maxLength: 50
                  example: '张三'
                realName:
                  type: string
                  maxLength: 50
                  example: '张三'
                email:
                  type: string
                  format: email
                  example: 'user@example.com'
                avatar:
                  type: string
                  format: uri
                  example: 'https://example.com/avatar.jpg'
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /users/me:
    get:
      tags:
        - users
      summary: 获取当前用户信息
      description: 获取当前登录用户的详细信息
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'

    put:
      tags:
        - users
      summary: 更新当前用户信息
      description: 更新当前登录用户的信息
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nickname:
                  type: string
                  minLength: 1
                  maxLength: 50
                  example: '张三'
                realName:
                  type: string
                  maxLength: 50
                  example: '张三'
                email:
                  type: string
                  format: email
                  example: 'user@example.com'
                avatar:
                  type: string
                  format: uri
                  example: 'https://example.com/avatar.jpg'
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # 用户地址相关
  /users/{userId}/addresses:
    get:
      tags:
        - users
      summary: 获取用户地址列表
      description: 获取指定用户的地址列表
      parameters:
        - name: userId
          in: path
          required: true
          description: 用户ID
          schema:
            $ref: '#/components/schemas/ID'
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/UserAddress'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    post:
      tags:
        - users
      summary: 添加用户地址
      description: 为指定用户添加新地址
      parameters:
        - name: userId
          in: path
          required: true
          description: 用户ID
          schema:
            $ref: '#/components/schemas/ID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - contact
                - location
              properties:
                contact:
                  $ref: '#/components/schemas/Contact'
                location:
                  $ref: '#/components/schemas/Location'
                isDefault:
                  type: boolean
                  default: false
                  example: true
      responses:
        '201':
          description: 添加成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/UserAddress'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # 订单相关
  /orders:
    get:
      tags:
        - orders
      summary: 获取订单列表
      description: 分页获取订单列表
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/SortParam'
        - $ref: '#/components/parameters/OrderParam'
        - name: status
          in: query
          description: 订单状态筛选
          schema:
            type: string
            enum: [pending, confirmed, assigned, in_progress, completed, cancelled]
        - name: type
          in: query
          description: 订单类型筛选
          schema:
            type: string
            enum: [pickup, delivery]
        - name: userId
          in: query
          description: 用户ID筛选
          schema:
            $ref: '#/components/schemas/ID'
        - name: courierId
          in: query
          description: 快递员ID筛选
          schema:
            $ref: '#/components/schemas/ID'
        - name: startDate
          in: query
          description: 开始日期
          schema:
            type: string
            format: date
            example: '2024-01-01'
        - name: endDate
          in: query
          description: 结束日期
          schema:
            type: string
            format: date
            example: '2024-01-31'
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Order'
                      meta:
                        type: object
                        properties:
                          pagination:
                            $ref: '#/components/schemas/PaginationMeta'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags:
        - orders
      summary: 创建订单
      description: 创建新的回收订单
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - type
                - items
                - pickupAddress
                - contact
                - scheduledTime
              properties:
                type:
                  type: string
                  enum: [pickup, delivery]
                  example: 'pickup'
                items:
                  type: array
                  items:
                    type: object
                    required:
                      - categoryId
                      - quantity
                      - unit
                    properties:
                      categoryId:
                        $ref: '#/components/schemas/ID'
                      quantity:
                        type: number
                        format: double
                        minimum: 0
                        example: 10.5
                      unit:
                        type: string
                        enum: [kg, piece, box, bag]
                        example: 'kg'
                      description:
                        type: string
                        maxLength: 200
                        example: '旧报纸杂志'
                pickupAddress:
                  $ref: '#/components/schemas/Location'
                contact:
                  $ref: '#/components/schemas/Contact'
                scheduledTime:
                  $ref: '#/components/schemas/Timestamp'
                notes:
                  type: string
                  maxLength: 500
                  example: '请在工作时间上门'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Order'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /orders/{id}:
    get:
      tags:
        - orders
      summary: 获取订单详情
      description: 获取指定订单的详细信息
      parameters:
        - name: id
          in: path
          required: true
          description: 订单ID
          schema:
            $ref: '#/components/schemas/ID'
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Order'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags:
        - orders
      summary: 更新订单
      description: 更新指定订单的信息
      parameters:
        - name: id
          in: path
          required: true
          description: 订单ID
          schema:
            $ref: '#/components/schemas/ID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum: [pending, confirmed, assigned, in_progress, completed, cancelled]
                  example: 'confirmed'
                scheduledTime:
                  $ref: '#/components/schemas/Timestamp'
                actualTime:
                  $ref: '#/components/schemas/Timestamp'
                notes:
                  type: string
                  maxLength: 500
                  example: '已确认订单'
                courierId:
                  $ref: '#/components/schemas/ID'
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Order'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /orders/{id}/cancel:
    post:
      tags:
        - orders
      summary: 取消订单
      description: 取消指定的订单
      parameters:
        - name: id
          in: path
          required: true
          description: 订单ID
          schema:
            $ref: '#/components/schemas/ID'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  maxLength: 200
                  example: '用户主动取消'
      responses:
        '200':
          description: 取消成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Order'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /orders/estimate:
    post:
      tags:
        - orders
      summary: 获取订单价格估算
      description: 根据物品信息估算订单价格
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - items
              properties:
                items:
                  type: array
                  items:
                    type: object
                    required:
                      - categoryId
                      - quantity
                      - unit
                    properties:
                      categoryId:
                        $ref: '#/components/schemas/ID'
                      quantity:
                        type: number
                        format: double
                        minimum: 0
                        example: 10.5
                      unit:
                        type: string
                        enum: [kg, piece, box, bag]
                        example: 'kg'
      responses:
        '200':
          description: 估算成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              type: object
                              properties:
                                categoryId:
                                  $ref: '#/components/schemas/ID'
                                name:
                                  type: string
                                  example: '废纸'
                                quantity:
                                  type: number
                                  format: double
                                  example: 10.5
                                unit:
                                  type: string
                                  example: 'kg'
                                unitPrice:
                                  type: number
                                  format: double
                                  example: 2.5
                                totalPrice:
                                  type: number
                                  format: double
                                  example: 26.25
                          totalAmount:
                            type: number
                            format: double
                            example: 26.25
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # 分类相关
  /categories:
    get:
      tags:
        - categories
      summary: 获取分类列表
      description: 获取回收物品分类列表
      parameters:
        - name: type
          in: query
          description: 分类类型筛选
          schema:
            type: string
            enum: [recyclable, hazardous, electronic, other]
        - name: parentId
          in: query
          description: 父分类ID（获取子分类）
          schema:
            $ref: '#/components/schemas/ID'
        - name: status
          in: query
          description: 分类状态筛选
          schema:
            type: string
            enum: [active, inactive]
            default: active
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Category'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags:
        - categories
      summary: 创建分类
      description: 创建新的回收物品分类（管理员权限）
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - type
                - unit
                - basePrice
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 50
                  example: '废纸'
                type:
                  type: string
                  enum: [recyclable, hazardous, electronic, other]
                  example: 'recyclable'
                parentId:
                  $ref: '#/components/schemas/ID'
                description:
                  type: string
                  maxLength: 200
                  example: '包括报纸、杂志、纸箱等'
                icon:
                  type: string
                  format: uri
                  example: 'https://example.com/icons/paper.svg'
                unit:
                  type: string
                  enum: [kg, piece, box, bag]
                  example: 'kg'
                basePrice:
                  type: number
                  format: double
                  minimum: 0
                  example: 2.5
                sortOrder:
                  type: integer
                  minimum: 0
                  example: 1
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Category'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /categories/{id}:
    get:
      tags:
        - categories
      summary: 获取分类详情
      description: 获取指定分类的详细信息
      parameters:
        - name: id
          in: path
          required: true
          description: 分类ID
          schema:
            $ref: '#/components/schemas/ID'
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Category'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags:
        - categories
      summary: 更新分类
      description: 更新指定分类的信息（管理员权限）
      parameters:
        - name: id
          in: path
          required: true
          description: 分类ID
          schema:
            $ref: '#/components/schemas/ID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 50
                  example: '废纸'
                description:
                  type: string
                  maxLength: 200
                  example: '包括报纸、杂志、纸箱等'
                icon:
                  type: string
                  format: uri
                  example: 'https://example.com/icons/paper.svg'
                basePrice:
                  type: number
                  format: double
                  minimum: 0
                  example: 2.5
                status:
                  type: string
                  enum: [active, inactive]
                  example: 'active'
                sortOrder:
                  type: integer
                  minimum: 0
                  example: 1
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Category'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags:
        - categories
      summary: 删除分类
      description: 删除指定的分类（管理员权限）
      parameters:
        - name: id
          in: path
          required: true
          description: 分类ID
          schema:
            $ref: '#/components/schemas/ID'
      responses:
        '204':
          description: 删除成功
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: 分类正在使用中，无法删除
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /categories/tree:
    get:
      tags:
        - categories
      summary: 获取分类树
      description: 获取分层结构的分类树
      parameters:
        - name: type
          in: query
          description: 分类类型筛选
          schema:
            type: string
            enum: [recyclable, hazardous, electronic, other]
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          allOf:
                            - $ref: '#/components/schemas/Category'
                            - type: object
                              properties:
                                children:
                                  type: array
                                  items:
                                    $ref: '#/components/schemas/Category'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # 快递员相关
  /couriers:
    get:
      tags:
        - couriers
      summary: 获取快递员列表
      description: 分页获取快递员列表
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/SearchParam'
        - name: status
          in: query
          description: 快递员状态筛选
          schema:
            type: string
            enum: [available, busy, offline]
        - name: latitude
          in: query
          description: 纬度（用于距离排序）
          schema:
            type: number
            format: double
            minimum: -90
            maximum: 90
        - name: longitude
          in: query
          description: 经度（用于距离排序）
          schema:
            type: number
            format: double
            minimum: -180
            maximum: 180
        - name: radius
          in: query
          description: 搜索半径（公里）
          schema:
            type: number
            format: double
            minimum: 0
            default: 10
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          allOf:
                            - $ref: '#/components/schemas/Courier'
                            - type: object
                              properties:
                                distance:
                                  type: number
                                  format: double
                                  description: 距离（公里）
                                  example: 2.5
                      meta:
                        type: object
                        properties:
                          pagination:
                            $ref: '#/components/schemas/PaginationMeta'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags:
        - couriers
      summary: 创建快递员
      description: 注册新的快递员（管理员权限）
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - phone
                - idCard
                - licensePlate
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 50
                  example: '李四'
                phone:
                  type: string
                  pattern: '^1[3-9]\d{9}$'
                  example: '13900139000'
                idCard:
                  type: string
                  pattern: '^[1-9]\d{5}(18|19|20)\d{2}((0[1-9])|(1[0-2]))(([0-2][1-9])|10|20|30|31)\d{3}[0-9Xx]$'
                  example: '110101199001011234'
                licensePlate:
                  type: string
                  pattern: '^[京津沪渝冀豫云辽黑湘皖鲁新苏浙赣鄂桂甘晋蒙陕吉闽贵粤青藏川宁琼使领A-Z]{1}[A-Z]{1}[A-Z0-9]{4}[A-Z0-9挂学警港澳]{1}$'
                  example: '京A12345'
                workingHours:
                  type: object
                  properties:
                    start:
                      type: string
                      pattern: '^([01]\d|2[0-3]):([0-5]\d)$'
                      example: '08:00'
                    end:
                      type: string
                      pattern: '^([01]\d|2[0-3]):([0-5]\d)$'
                      example: '18:00'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Courier'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'

  /couriers/{id}:
    get:
      tags:
        - couriers
      summary: 获取快递员详情
      description: 获取指定快递员的详细信息
      parameters:
        - name: id
          in: path
          required: true
          description: 快递员ID
          schema:
            $ref: '#/components/schemas/ID'
      responses:
        '200':
          description: 获取成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Courier'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags:
        - couriers
      summary: 更新快递员信息
      description: 更新指定快递员的信息
      parameters:
        - name: id
          in: path
          required: true
          description: 快递员ID
          schema:
            $ref: '#/components/schemas/ID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 50
                  example: '李四'
                phone:
                  type: string
                  pattern: '^1[3-9]\d{9}$'
                  example: '13900139000'
                licensePlate:
                  type: string
                  pattern: '^[京津沪渝冀豫云辽黑湘皖鲁新苏浙赣鄂桂甘晋蒙陕吉闽贵粤青藏川宁琼使领A-Z]{1}[A-Z]{1}[A-Z0-9]{4}[A-Z0-9挂学警港澳]{1}$'
                  example: '京A12345'
                status:
                  type: string
                  enum: [available, busy, offline]
                  example: 'available'
                workingHours:
                  type: object
                  properties:
                    start:
                      type: string
                      pattern: '^([01]\d|2[0-3]):([0-5]\d)$'
                      example: '08:00'
                    end:
                      type: string
                      pattern: '^([01]\d|2[0-3]):([0-5]\d)$'
                      example: '18:00'
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Courier'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /couriers/{id}/location:
    put:
      tags:
        - couriers
      summary: 更新快递员位置
      description: 更新快递员的实时位置
      parameters:
        - name: id
          in: path
          required: true
          description: 快递员ID
          schema:
            $ref: '#/components/schemas/ID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Location'
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          message:
                            type: string
                            example: '位置更新成功'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/