# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# Service Configuration
PORT=3010
NODE_ENV=development

# Queue Configuration
QUEUE_REMOVE_ON_COMPLETE=100
QUEUE_REMOVE_ON_FAIL=1000

# Bull Board Configuration
BULL_BOARD_ENABLED=true
BULL_BOARD_PATH=/admin/queues
BULL_BOARD_USERNAME=admin
BULL_BOARD_PASSWORD=change-me-in-production
# 
Database Configuration
DATABASE_URL=postgresql://user:password@localhost:5432/message_queue_db?schema=public

# Microservices URL Configuration
ORDER_SERVICE_URL=http://localhost:3003
DISPATCH_SERVICE_URL=http://localhost:3006
INVENTORY_SERVICE_URL=http://localhost:3009
PAYMENT_SERVICE_URL=http://localhost:3007
NOTIFICATION_SERVICE_URL=http://localhost:3004
COURIER_SERVICE_URL=http://localhost:3005
